function Main.main 5
push constant 255
push constant 255
call Board.new 2
pop local 0
push constant 2
call Array.new 1
pop local 1
push local 0
call Board.pieceSize 1
pop local 1
push local 0
call Board.pieceLocation 1
pop local 2
push constant 120
push local 1
call Shapes.new 2
pop local 3
push constant 111
push local 1
call Shapes.new 2
pop local 4
push local 1
call Array.dispose 1
pop temp 0
push local 0
call Board.dispose 1
pop temp 0
push local 2
call Array.dispose 1
pop temp 0
push local 3
call Shapes.dispose 1
pop temp 0
push local 4
call Shapes.dispose 1
pop temp 0
push constant 0
return
